.Footer {
    height: 7vh;
    width: 100%;
    background-color: rgb(191, 192, 188);
    margin-top: 88vh;
    display: flex;
    justify-content: center;
}

.fa-brands {
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 17px
}

a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}